.dashboard-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  width: 89%;
  // max-width: 833px;
  margin: auto;
  // margin-top: 100vh;

  .dashboard-infos-wrap{
    width: 100%;
    .dashboard-search-box {
      width: 100%;
      margin-bottom: 30px;

      background: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      outline: none;

      .MuiOutlinedInput-input {
          font-family: Montserrat Medium;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: rgb(255, 255, 255);
          padding: 14px 20px;
      }

      .MuiOutlinedInput-notchedOutline {
          border-color: rgba(255, 255, 255, 0.5) !important;
      }
    }
    .dashboard-infos-nfts {
      margin-top: 10px;
      .MuiGrid-spacing-xs-4{
        width: 100% !important;
      }

      .dashboard-infos-item{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }

      .dashboard-infos-loading{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      .dashboard-infos-search-txt {
        font-family: Montserrat Medium;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: white;
        .dashboard-infos-search-span {
          font-size: 20px;
          font-style: italic;
        }
      }
      .MuiGrid-spacing-xs-4 {
        margin: 0 !important;
      }
      .loadmore{
        position: relative;
        display: flex;
        justify-content: center;
        .loadmore-btn{
          padding: 20px;
          background: rgba(12, 218, 34, 0.8);;
          border-radius: 10px;
          cursor: pointer;
          p{
            font-family: Montserrat Medium;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: rgb(255, 255, 255);
          }
          &:hover{
            background-color: rgba(12, 218, 63);
          }
          &:active{
              background-color: rgba(0, 94, 22, 0.8);
          }
          margin-top: 50px;
          margin-bottom: 100px;
        }
      }
    }
  }
}
