.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
  position: relative;

  p{
    font-family: Montserrat SemiBold;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
  }
}
