.connect-button{
    background: linear-gradient(294.72deg, #FF4581 9.05%, #4388DD 79.28%);
    transition: 0.5s all ease-in-out;
    box-shadow: 0px 0px 10px rgba(44, 39, 109, 0.1);
    border-radius: 10px;
    padding: 17px 20px;
    cursor: pointer;
    // max-width: 210px;

    display: flex;
    align-items: center;
    // margin-top: 20px;

    &:hover{
      background: linear-gradient(-294.72deg, #FF4581 9.05%, #4388DD 79.28%);
    }

    .connect-button-progress{
      margin-left: 10px;
      margin-top: 4px;
    }
  
    p{
      font-family: Montserrat SemiBold;
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
      margin-left: 10px;
    }
  }